<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .form-group {
      margin-bottom: 15px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input[type="text"], input[type="text"], input[type="range"] {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
    }
    .slider-value {
      text-align: right;
    }
    .form {
      display: none;
    }
    .form.active {
      display: block;
    }
  </style>
  <script src="https://cdn.plot.ly/plotly-2.32.0.min.js" charset="utf-8"></script>
</head>
<body>
<label><input type="radio" name="formSwitch" value="cw" checked>Continuous Wave</label>
<label><input type="radio" name="formSwitch" value="lfm">Linear Frequency Modulated</label>
<label><input type="radio" name="formSwitch" value="pw">Pulse Width</label>

<form id="cw" action="/generate/cw" method="get" class="form active">
  <div class="form-group">
    <label for="sample_rate">Sample Rate (Hz):</label>
    <input type="text" id="sample_rate" name="sample_rate" value="1000" required pattern="\d+">
  </div>
  <div class="form-group">
    <label for="signal_length">Signal Length (s):</label>
    <input type="text" id="signal_length" name="signal_length" value="1" required pattern="\d+">
  </div>
  <div class="form-group" style="display:none;">
    <input type="text" id="form" name="form" value="sc16" required>
  </div>
  <button type="button" onclick="displayGraph()">Show Waveform</button>
  <button type="submit">Download .sc16</button>
</form>

<form id="lfm" action="/generate/lfm" method="get" class="form">
  <div class="form-group">
    <label for="sample_rate">Sample Rate:</label>
    <input type="text" id="sample_rate" name="sample_rate" value="1000">
  </div>
  <div class="form-group">
    <label for="fstart">Start Frequency:</label>
    <input type="text" id="fstart" name="fstart" value="10">
  </div>
  <div class="form-group">
    <label for="fstop">Stop Frequency:</label>
    <input type="text" id="fstop" name="fstop" value="100">
  </div>
  <div class="form-group">
    <label for="signal_length">Signal Length:</label>
    <input type="text" id="signal_length" name="signal_length" value="0.25">
  </div>
  <div class="form-group" style="display:none;">
    <input type="text" id="form" name="form" value="sc16" required>
  </div>
  <button type="button" onclick="displayGraph()">Show Waveform</button>
  <button type="submit">Download .sc16</button>
</form>

<form id="pw" action="/generate/pw" method="get" class="form">
  <div class="form-group">
    <label for="sample_rate">Sample Rate:</label>
    <input type="text" id="sample_rate" name="sample_rate" value="50000000">
  </div>
  <div class="form-group">
    <label for="bit_length">Bit Length:</label>
    <input type="text" id="bit_length" name="bit_length" value="0.0000005">
  </div>
  <div class="form-group">
    <label for="num_bits">Number of Bits:</label>
    <input type="text" id="num_bits" name="num_bits" value="4">
  </div>
  <div class="form-group">
    <label for="taps">Taps:</label>
    <input type="text" id="taps" name="taps" value="3,2">
  </div>
  <div class="form-group">
    <label for="amplitude">Amplitude:</label>
    <input type="text" id="amplitude" name="amplitude" value="2000">
  </div>
  <div class="form-group">
    <label for="pri">PRI:</label>
    <input type="text" id="pri" name="pri" value="0.0001">
  </div>
  <div class="form-group">
    <label for="num_pulses">Number of Pulses:</label>
    <input type="text" id="num_pulses" name="num_pulses" value="2">
  </div>
  <div class="form-group" style="display:none;">
    <input type="text" id="form" name="form" value="sc16" required>
  </div>
  <button type="button" onclick="displayGraph()">Show Waveform</button>
  <button type="submit">Download .sc16</button>
</form>


<div id="dynamicGraph" style="display:none;"></div>

<script>
  document.querySelectorAll('input[name="formSwitch"]').forEach(radio => {
    radio.addEventListener('change', function() {
      document.querySelectorAll('.form').forEach(form => form.classList.remove('active'));
      document.getElementById(this.value).classList.add('active');
      document.getElementById('dynamicGraph').style.display = 'none';
    });
  });

  function displayGraph(graphUrl) {
    // get all form data and serialize
    const form = document.querySelector('.form.active');
    const url = new URL(form.action);
    const params = new URLSearchParams(new FormData(form));
    params.set('form', 'graph');

    // fetch graph html
    fetch(`${url.pathname}?${params.toString()}`, {
      method: "GET"
    })
    .then((res) => res.json())
    .then(data => {
      // display graph
      const graphElement = document.getElementById('dynamicGraph');
      graphElement.innerHTML = data;
      graphElement.style.display = 'block';
    })
    .catch(error => {
      console.error(error);
    });
  }
</script>

</body>
</html>
