<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Form</title>
  <link rel="stylesheet" href = "/static/forms.css" />
</head>
<body>
<h3>Select Type:</h3>
<label><input type="radio" name="formSwitch" value="cw" checked>Continuous Wave</label>
<label><input type="radio" name="formSwitch" value="lfm">Linear Frequency Modulated</label>
<label><input type="radio" name="formSwitch" value="bpsk">Binary Phase Shift Keying</label>
<label><input type="radio" name="formSwitch" value="radar">Radar Pulse</label>
<form id="cw" action="/generate/cw" method="get" class="form active">
  <div class="form-group">
    <label for="sample_rate">Sample Rate (Hz):</label>
    <input type="text" id="sample_rate" name="sample_rate" value="1000" required pattern="\d+">
  </div>
  <div class="form-group">
    <label for="signal_length">Signal Length (s):</label>
    <input type="text" id="signal_length" name="signal_length" value="1" required pattern="\d+">
  </div>
  <div class="form-group" style="display:none;">
    <input type="text" id="form" name="form" value="sc16" required>
  </div>
  <button type="button" onclick="displayImage()">Show Waveform</button>
  <button type="button" onclick="redirectInteractive()">View Interactive</button>
  <button type="submit">Download .sc16</button>
</form>

<form id="lfm" action="/generate/lfm" method="get" class="form">
  <div class="form-group">
    <label for="sample_rate">Sample Rate:</label>
    <input type="text" id="sample_rate" name="sample_rate" value="1000">
  </div>
  <div class="form-group">
    <label for="fstart">Start Frequency:</label>
    <input type="text" id="fstart" name="fstart" value="10">
  </div>
  <div class="form-group">
    <label for="fstop">Stop Frequency:</label>
    <input type="text" id="fstop" name="fstop" value="100">
  </div>
  <div class="form-group">
    <label for="signal_length">Signal Length:</label>
    <input type="text" id="signal_length" name="signal_length" value="0.25">
  </div>
  <div class="form-group" style="display:none;">
    <input type="text" id="form" name="form" value="sc16" required>
  </div>
  <button type="button" onclick="displayImage()">Show Waveform</button>
  <button type="button" onclick="redirectInteractive()">View Interactive</button>
  <button type="submit">Download .sc16</button>
</form>

<form id="bpsk" action="/generate/bpsk" method="get" class="form">
  <div class="form-group">
    <label for="sample_rate">Sample Rate:</label>
    <input type="text" id="sample_rate" name="sample_rate" value="50000000">
  </div>
  <div class="form-group">
    <label for="bit_length">Bit Length:</label>
    <input type="text" id="bit_length" name="bit_length" value="0.0000005">
  </div>
  <div class="form-group">
    <label for="num_bits">Number of Bits:</label>
    <input type="text" id="num_bits" name="num_bits" value="4">
  </div>
  <div class="form-group" style="display:none;">
    <input type="text" id="form" name="form" value="sc16" required>
  </div>
  <button type="button" onclick="displayImage()">Show Waveform</button>
  <button type="button" onclick="redirectInteractive()">View Interactive</button>
  <button type="button" onclick="redirectThreeDim()">View Three-Dimensional</button>
  <button type="submit">Download .sc16</button>
</form>

<form id="radar" action="/generate/radar" method="get" class="form">
  <div class="form-group">
    <label for="sample_rate">Sample Rate:</label>
    <input type="text" id="sample_rate" name="sample_rate" value="50000000">
  </div>
  <div class="form-group">
    <label for="bit_length">Bit Length:</label>
    <input type="text" id="bit_length" name="bit_length" value="0.0000005">
  </div>
  <div class="form-group">
    <label for="num_bits">Number of Bits:</label>
    <input type="text" id="num_bits" name="num_bits" value="4">
  </div>
  <div class="form-group">
    <label for="amplitude">Amplitude:</label>
    <input type="text" id="amplitude" name="amplitude" value="2000">
  </div>
  <div class="form-group">
    <label for="pri">PRI:</label>
    <input type="text" id="pri" name="pri" value="0.0001">
  </div>
  <div class="form-group">
    <label for="num_pulses">Number of Pulses:</label>
    <input type="text" id="num_pulses" name="num_pulses" value="2">
  </div>
  <div class="form-group" style="display:none;">
    <input type="text" id="form" name="form" value="sc16" required>
  </div>
  <button type="button" onclick="displayImage()">Show Waveform</button>
  <button type="button" onclick="redirectInteractive()">View Interactive</button>
  <button type="submit">Download .sc16</button>
</form>


<img id="dynamicImage" style="display:none;">

<script src = "/static/forms_redirection.js" charset="utf-8" href = "/static/forms.css"></script>
</body>
</html>
