<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Form</title>
  <link rel="stylesheet" href = "/static/forms.css" />
</head>
<body>
<h3>Select Type:</h3>
{% for f in forms %}
  <label><input type="radio" name="formSwitch" value="{{ f.id }}">{{ f.name }}</label>
{% endfor %}
<h3>Inputs:</h3>
{% for f in forms %}
  <form id="{{ f.id }}" action="{{ f.action }}" method="get" class="form">
    {% for field in f.fields %}
        {% if (field.label != "Sequencing Type:") %}
          <div class="form-group">
            <label for="{{ field.name }}">{{ field.label }}</label>
            <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" required>
          </div>
        {% else %}
          <label for="seq_type">Sequencing Type:</label>
            <div class = "dropdown">
              <select id="seq_type" name="seq_type" style="font-size: 16px">
                <option value="mls">Maximum Length Sequencing (MLS)</option>
                <option value="barker">Barker Code</option>  
              </select>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-group" style="display:none;">
      <input type="text" id="form" name="form" value="sc16" required>
    </div>
    <button type="button" onclick="displayImage()">Show Waveform</button>
    <button type="button" onclick="redirectInteractive()">View Interactive</button>
    <button type="button" onclick="redirectThreeDim()">View Three-Dimensional</button>
    <button type="submit">Download .sc16</button>
  </form>
{% endfor %}

<img id="dynamicIQvT" style="display:none;">
<img id="dynamicIvQ" style="display:none;">

<script src = "/static/forms_redirection.js" charset="utf-8" ></script>

</body>
</html>
